<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="Crm.Organization.Name" value="TO_BE_DEFINED" />
  <add key="Crm.User.Name" value="TO_BE_DEFINED" />
  <add key="Crm.User.Password" value="TO_BE_DEFINED" />
  <add key="Telemetry.Key" value="TO_BE_DEFINED" />
  <add key="Process.Thread.Number" value="50" />
  <add key="ServiceBus.Queue.Key" value="TO_BE_DEFINED" />
  <add key="ServiceBus.Namespace.Key" value="TO_BE_DEFINED" />
  <add key="WebJob.Url" value="TO_BE_DEFINED" />
  <add key="WebJob.Login" value="TO_BE_DEFINED" />
  <add key="WebJob.Pwd" value="TO_BE_DEFINED" />
</appSettings>